# Ignorar todo en el directorio raíz
/*

# Excepto el .gitignore en sí
!.gitignore

# Permitir las carpetas principales
!frontend/
!backend/
!db_init/

# Ignorar node_modules y .env dentro de ellas
frontend/node_modules/
backend/node_modules/
backend/.env

# Permitir todo lo demás dentro de esas carpetas
frontend/**
backend/**
db_init/**