# Ignorar todo en el directorio raíz
/*

# Excepto el .gitignore en sí
!.gitignore

# Permitir las carpetas principales
!frontend/
!backend/
!db_init/

# Ignorar node_modules en cualquier subdirectorio
**/node_modules/

# Ignorar .env de backend
backend/.env

# Permitir todo lo demás dentro de esas carpetas
!frontend/**
!backend/**
!db_init/**